{% extends "layouts/plain_text.njk" %}

{% block content %}
	{{ content | safe }}

	<div class="container">
		<header>
			<h2>Events organized by EAAMO Bridges and MD4SG</h2>
		</header>
			<ul>
			{% for event in collections.events|reverse %}
				{% if event.data.active == 1 %}
					<li>
					<b><a href={{event.url}} target="_blank"> {{ event.data.short_name }}</a></b>, organized by {{ event.data.organizers }}
					{% if event.data.link != "" %}
						<a href={{ event.data.link }} class="icon fa-link" target="_blank"></a>
					{% endif %}
					</li>
				{% endif %}
			{% endfor %}
			</ul>
	</div>

{% endblock content %}